# Additional dependencies needed only for training (train.py), not for serving.
-r requirements.txt
pyarrow==25.0.1
matplotlib==3.10.8
evidently==0.7.21
mlflow==3.15.2
python-dotenv==1.0.1
prefect==3.8.4
dvc==3.67.1
dvc-s3==3.3.0
